<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中慧健康管理系统</title>
    {% load static %}
    <link rel="icon" href='{% static "img/logo.png" %}'>
    <link rel="stylesheet" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "admin/css/index.css" %}'>
    <link rel="stylesheet" href='{% static "admin/css/main.css" %}'>
    <link rel="stylesheet" href='{% static "admin/css/html.css" %}'>
    <style>
        .my-table th, td {
            text-align: center;
        }
    </style>

    <script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
    <script src='{% static "bootstrap/js/bootstrap.bundle.js" %}'></script>
    <script>
        $(function () {
            const hrefArr = window.location.href.split('/');
            const name = hrefArr[hrefArr.length - 1];
            $('.menu a[href=\'' + name + '\']').addClass('active');
        });
    </script>
</head>

<body>

    <div id="app" class="d-flex">
        <nav>
            <div class="logo">
                {% comment %} <h4>admin</h4> {% endcomment %}
                <img src='{% static "img/bigLogo.png" %}' style='width:70%;margin-bottom:5px' />
            {% comment %} <script src='{% static "js/jquery-3.3.1.min.js" %}'></script> {% endcomment %}
            </div>
            <ul class="menu">
                <li><a class="top-menu" href="javascript:;"><i class="iconfont mr-1">&#xe6e0;</i>学生管理<i
                            class="iconfont arrow float-right">&#xe66c;</i></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'health:student_index' %}">学生列表</a></li>
                        <li><a href="{% url 'health:student_create' %}">新增学生</a></li>
                    </ul>
                </li>
                <li><a class="top-menu" href="javascript:;"><i class="iconfont mr-1">&#xe69d;</i>健康管理<i
                            class="iconfont arrow float-right">&#xe66c;</i></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'health:health_index' %}">健康申报</a></li>
                        <li><a href="{% url 'health:health_risk' %}">风险信息</a></li>
                    </ul>
                </li>

            </ul>
        </nav>

        <main>
            <header>

                <div class="dropdown float-right">
                    <button class="btn  btn-sm  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        admin
                    </button>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item" href="{% url 'user:logout' %}">退出登录</a>
                    </div>
                </div>

            </header>

            <div id="body">
                {% block base %}
                {% endblock base %}
            </div>

</body>
<footer style="width: 100%; position: absolute; bottom: 0; font-size: 12px; display: flex; justify-content: center">Copyright©️2016-2021 中慧云启科技集团 All Rights Reserved.  |  蜀ICP备2020029736号</footer>
</html>